<.flash_group flash={@flash} />
<%= if @current_user do %>
  <.link href={~p"/tasks"} class="text-blue-600 underline text-2xl">List tasks</.link>
<% else %>
  <.link href={~p"/users/log_in"} class="text-blue-600 underline text-2xl">Please login</.link>
<% end %>